.inputWrapper {
  display: flex;
  align-items: center;
}

.lable {
  margin-bottom: 0 !important;
  margin-right: 10px;
}

.tableHeader {
  width: 90px;
  text-align: center;
}

.tableWrapper {
  margin-left: 10px;
}

.canvas {
  margin-top: 10px;
  margin-left: 150px;
  width: 700px;
  height: 700px;
  border-width: 1px;
  border-color: black;
}
